 
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;

  
}
html
{
  scroll-behavior: smooth;
}
body{font-family: Acme;}


 nav.navbar
 {
  position: fixed;
  width: 100%;
 }
 .navbar-brand
 {
    font-size:1em;
    padding-top: 10px;
    padding-left: 60px;
    line-height: 1em;
    letter-spacing: 2px;
     width: 200px;
 }
a.navbar-brand:hover 
  {
   transition: 0.7s;
   
   color:#CA656D  !important;
 }
.navbar-header
  {
    height: 95px;


  }

.navbar 
  {
    margin-bottom: 0;
    background-color:white;
    z-index: 9999;
    border: 0;
    font-size: 17px;
    line-height: 1.42857143 !important;
    letter-spacing: 1.2px;
    border-radius: 0;
    font-family:rockwell;
  }
.navbar li a, .navbar .navbar-brand 
  {
    color:#2C37A0 !important;
   font-family: 'Acme';
    margin-top: 10px;
    letter-spacing: 2px;
  }
.navbar-nav li a:hover, .navbar-nav li.active a 
  {
    color:#CA656D    !important;
    transition: 0.7s;
  }
.navbar-default .navbar-toggle 
  {
    border-color: transparent;
    color: #fff !important;
  }
 
   #section1 
  {
    padding-top:180px;
    height:100%;
     background-color: #F9F3F2 ;
    background-image: url(image/21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
.welcome h1
  {
    letter-spacing: 5px;
    padding-left:30px; 
    font-size: 2.5em; 
    color: white; 
    padding-bottom: 50px;
    padding-top: 70px;
    text-align: center;
    font-family:acme;
  }
  .welcome h2
  {
    letter-spacing: 5px;
     padding: 20px;
    font-size: 2em; 
    color:#2C37A0 ; 
     
    
    
    text-align: center;
    font-family:acme;
  }
  .welcome h3
  {
     
      padding-top: 20px;
    color: white; 
    font-size: 16px;
     
    text-align: center;
    font-family:georgia header;
  }
.welcome span
  {
    color: white;
  }
.welcome h5
  {
    
    text-align:left;
    line-height: 20px;
    font-family: times new roman;
    letter-spacing: 2px;
    color: white;
    font-size: 16px; 
    line-height: 25px;
    
    border-left-style: solid;  
    padding: 30px;
  }
.button 
  { 
    background-color:white; 
    border: none;
    color:#2C37A0      ;
    padding: 10px 20px;
    font-family: acme;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
     
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
     
  }
.button a
  {
    text-decoration: none; 
    color:white;
  }
 
   #section2 h2
  {
    letter-spacing: 3px;
    text-align: center;
    color:#2C37A0      ; 
    font-family: 'Acme';
     
  }


      .imageBox
  {
    width: 350px;
    height: 285px;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0 10px;
  }
    .imageBox figure
    {
      position: relative;
      margin:0;
      padding: 0;
      overflow: hidden;
    }
.imageBox figure:before,
.imageBox figure:after
{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
   
  background:#2C37A0     ;
  transition: .5s;
}
.imageBox figure:before
{
  left: -50%;

}
.imageBox:hover figure:before
{
  left: 0;
}
.imageBox figure:after
{
  right: -50%;

}
.imageBox:hover figure:after
{
  right: 0;
}
.imageBox figure img
  {
    width: 100%;
    height: 100%;
  }
.imageBox figure figcaption
{
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: .5s;
  transition-delay: .5s;
  cursor: pointer;
  transform: translateY(20px);
  z-index: 1;
}
.imageBox:hover figure figcaption
{
opacity:1;
  transform: translateY(0);
}
.imageBox figure figcaption h1
{
margin: 0;
padding: 0;
font-size: 22px;
}
.imageBox figure figcaption p
{
  margin: 10px 0 0;
  padding: 0;
  font-family: georgia header;
  font-size: 16px;
}
.imageBox figure figcaption a
{
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff1922;
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
}
#section2 
  {
    padding-top:50px;
    height:100%;
    background-color: #F9F3F2 ;
  }
  #section2 h4
  {
    letter-spacing: 2px;
    text-align: center;
    color:#ED5263; 
    font-family: georgia header;
  }

#guide_section 
{
  height:100%;
  background-color:;
padding-bottom: 30px;
padding-top: 30px;
}
  #guide_section h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:#2C37A0 ; 
   font-family: 'Acme';
     
   }
    .guide_well  
  {
    height: 100%;
    background-color:white;
    border-radius: 0px;
  }
  .guide_well img
  {
    padding:5px;
    border: 1px solid orange;
    margin: 5px;
  }



  #brand_section 
{
  height:100%;
  background-color:;
padding-bottom: 30px;
padding-top: 30px;

}
  #brand_section h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:#2C37A0; 
   font-family: 'Acme';
     
   }
    .partners_well .well
  {
    height: 100%;
    background-color:white;
    border-radius: 0px;
    overflow: hidden;
    padding: 5px;
    border:1px solid #2C37A0;
  }
  .partners_well .well img
  {
     

  }
  .partners_well .well img:hover{transition: 0.4s ease-out;
    transform: scale(1.5);}
  .btn-primary
  {
    border-radius: 0px;
    border: 0px;
    background-color:#2C37A0  ;
    border-bottom-left-radius: 10px;
  }
  .btn-primary:hover
  {
background-color:#CA656D ;
transition: 0.9s;
  }
   select.form-control 
    {
    border-radius: 0px;
    }
  .get_quote .well
  {
    background-color:#F7F7F7;
    height: 100%;
     box-shadow: 10px 10px 30px 2px rgba(70, 68, 68  ,1);
    border: 1px solid #2C37A0 ;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 20px;
   
  }
   .get_quote .well img
   {
    width:100%;
    border-top-right-radius: 30px;
    margin-left: 8px;
    margin-top: -6px;

   }
   .get_quote .well label
   {
    letter-spacing: 3px;
    padding-top: 10px;
    text-align: left;
    color: black;
    font-family: georgia header;
     
   }
   .get_quote .well input
   {
    border-radius: 0px;
    border: 1px solid #2C37A0 ;
    background-color: #F7F7F7;
   }
    .get_quote .well select
   {
    border-radius: 0px;
    border: 1px solid #2C37A0 ;
    font-family: georgia header;
    letter-spacing: 1px;
    background-color: #F7F7F7;
   }
  
   .get_quote .well textarea
   {
    border-radius: 0px;
    border: 1px solid #2C37A0 ;
    background-color: #F7F7F7;
   }
::-webkit-input-placeholder
{
  color: red;
  font-family: georgia header;
  letter-spacing: 1px;
  font-size: 14px;
} 
   #welcome_home 
  {

    height:100%;
    color: #fff;
    background-color:#2C37A0;



  }
  #welcome_home h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:white; 
   font-family: 'Acme';
     
   }
     #welcome_home  p{line-height: 35px;padding: 25px;
      text-align: justify;font-size: 20px;
      letter-spacing: 1px;font-family: Acme;}
    

    #section3 
  {
    padding-top:30px;
    height:100%;
    color: #fff;
    background-color:#F7F7F7;
    text-align: center; 
    padding-bottom: 30px;
  }
  #section3 h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:#2C37A0 ; 
   font-family: 'Acme';
     
   }
    #section3 h4
   {
    letter-spacing: 3px;
    text-align: center;
    color:#0C8FF9; 
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: georgia header;
     
   }
  .why_chooose_us_well
  {
    height: 100%;
    background-color:;
    border-radius: 0px;
  }
  .why_chooose_us_well a i
  {
    color: #2C37A0 ;

  }
  #section3 h1
   {
    letter-spacing: 2px;
    text-align:center;
    color:#2C37A0 ; 
    font-family: georgia header; 
   }
  #section3 h5
   {
    letter-spacing: 1px;
    text-align:left;
    color:black; 
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
     font-family: georgia header;
   }
    #section4 
  {
    padding-top:30px;
    height:100%;
    color: #fff; 
    background-color:;
    padding-bottom: 30px;
  }
   

  #section4 h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:white ; 
   font-family: 'Acme';
    
   }
     .panel
                      {
                        border-radius: 20px;
                        border:none;
                        color: white;
                        margin-top: 5px;margin-bottom: 5px;
                        cursor: pointer;
                        
                      }
                      .panel-heading
                      {
                        background-color:transparent;
                        color: white;
                      }

                   .panel a
                      {
                        letter-spacing: 2px;
                        text-align: center;
                        color:white; 
                        text-decoration: none;
                        font-family: georgia header;
                         
                      }
                      .panel-body{color: #2c37a0}
.our_services_well
  {
    height: 100%;
    background-color:#F7F7F7;
    border-radius: 0px;
  }
  #section5 
  {
    padding-top:30px;
    height:100%;
    background-color:#F7F7F7;
    padding-bottom: 30px;
  }
#section5 h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:#2C37A0 ; 
   font-family: 'Acme';
    
   }

  .special_requests_well .well
  {
    height:100%;
    background-color: white;
    border-radius: 0px;
    background-image: url(image/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }
  .special_requests_well .well h2
  {
    letter-spacing: 3px;
    text-align:center;
    font-family:rockwell;
  }
  .special_requests_well .well h5
  {
    letter-spacing: 3px;
    text-align: center;
    font-family:georgia header;
    font-size: 18px;
  }
  .special_requests_well .well span
  {
    color: #CA656D;
  }
  .special_requests_well .well h4
  {
    letter-spacing: 3px;
    text-align: center;
    font-family:rockwell;
  }
    #section6
  {
    padding-top:30px;
    height:100%;
    color: #fff; 
     background-color:;
     padding-bottom: 30px;
  }
   .Our_Effective_well .well
  {
    height: 100%;
  
    background-color:#2C37A0 ;
    border-radius: 0px;
    border-color: white;
     transition: 0.7s;
  }
   .Our_Effective_well .well a{text-decoration: none;
    color: white;}

  .Our_Effective_well .well img
  {
    height: 200px;
    width: 200px;
   border-radius: 50%;
   margin-left:-25px;
   cursor: pointer;
    transition: 0.7s;
  }
  .Our_Effective_well .well:hover img
  {
    transition: 0.7s;
    transform:scale(1.1);
    border: 3px solid white;
    border-radius: 5px;
  }
  .Our_Effective_well .well i
  {
    font-size: 20px;
    color:white;
    padding: 5px;
    text-align: left;
  }
     
    #section7 
  {
    padding-top:30px;
    height:100%;
    color: #fff; 
     background-color:#F7F7F7;
     padding-bottom: 30px;
  }
   #section7 h2
   {
    margin-top: 80px;
    letter-spacing: 3px;
    text-align: center;
    color: #2C37A0 ;
   font-family: 'Acme';
     
   }

   #section7 h3
   {
    letter-spacing: 3px;
    text-align: center;
    font-family:Acme;
    font-size: 20px;
     }
      #section7 h4
   {
    letter-spacing: 3px;
    text-align: center;
    font-family:Aladin;
    font-size: 14px;
    color: #B9C7CC    ;  
   }
.ready_to_get_well .well
  {
    border-radius: 0px;
    height: 100%;
    margin-top: 70px;
    background-color: transparent;
  }
  .ready_to_get_well .well img
  {
    margin-top: -80px;
  }
  .ready_to_get_well .well a
  {
    color:#2C37A0 ;
    text-decoration: none;
  }
 
    #section8
  {
    padding-top:20px;
    height:100%;
    color: #fff; 
    
    background-image: url(image/21.jpg);
    background-size: cover;
    background-color:green;
    background-repeat: no-repeat;
  }
   #section8 h2
   {
    letter-spacing: 3px;
    text-align: center;
    color: #0C8FF9;
   font-family: 'Acme';
     
   }
    #section8 p
   {
    letter-spacing: 1px;
    text-align: center;
    font-family: rockwell;
    font-style: italic;
   }
   #section8 h1
   {
    letter-spacing: 3px;
    text-align: center;
    font-family:rockwell; 
   }
 .our_customers_well .well
  {
    height: 100%;
    border-radius:0px;
    background-color: #2C37A0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .our_customers_well .well img
  {
    height:80px;
    width: 80px;
    border-radius: 50%;
    border:1px solid #CA656D ;
  }
    #our_customers
  {
    padding-top:20px;
    height:100%;
    color: #fff; 
    padding-bottom: 20px;
    background-color:;  
  }
   #our_customers h2
   {
    letter-spacing: 3px;
    text-align: center;
    color:#2C37A0;
   font-family: 'Acme'; 
   }
   .our_customers_well h5
   {
    letter-spacing: 1px;
    text-align:left;
    color:black;
    line-height: 25px;
    font-size: 16px;
   font-family:georgia header; 
   }
   #our_customers h4
   {
    letter-spacing: 3px;
    text-align:left;
    color:#2C37A0;
   font-family: 'Acme'; 
   }
  .button_read_more 
  { 
    background-color:#2C37A0; 
    border: none;
    color:white;
    padding: 5px 15px;
    font-family: georgia header;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius:0px;
    text-align: center;
    letter-spacing: 2px;
 
  }
.button_read_more a
  {
    text-decoration: none; 
    color:white;
  }
   .contact_us_well .well
  {
    height:100%;
    border-radius: 0px;
    background-color:white;
    border:1px solid #2C37A0;
     padding:20px;

  }
 
   .location_well .well
  {
   height:100%;
    border-radius: 0px;
    padding: 5px;

    background-color: white;
     border:1px solid #2C37A0;
  }
    #section9
  {
    padding-top:30px;
    height:100%;
    letter-spacing: 3px;
    background-color:#F7F7F7;
    padding-bottom: 30px;
   

    
    font-family: georgia header;
  }
     #section9 h2
  {
   
    letter-spacing: 3px;
     
    text-align: center;
    color: #2C37A0;
    font-family: 'Acme';

  }
   #section9 h4
  {
line-height: 20px;
font-size: 16px;
  }
  #section9 h5
  {
   
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
    color:black;
    font-family: georgia header;
  }
   #section9 i
  {
    font-size: 22px;
    color:#CA656D;
  }
       #section9 h4
  {
    letter-spacing: 3px;
    font-family: georgia header;

  }
   #section9 p
  {
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 25px;
    font-family: georgia header;
  }
   .navigation h4
    {
    letter-spacing: 3px;
    text-align:left;
    color: white;
    font-family:Acme;
    }
    .navigation h6
    {
      font-family: georgia header;
      text-align: left;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 20px;
    }
    .social
    {text-align: center;}
    .navigation a
    {
      color: white;
      text-decoration: none;
    }
  
     .navigation p
     {
      font-family: georgia header;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
    }
      .move_up a
      {
        color: white;
      }
      
      .move_up i
      {
          scroll-behavior: smooth;
          font-size: 16px;
          padding-top: 10px;
          padding-left: 12px;
          float: right;
         
          height: 40px;
          width: 40px;
          background-color: #2C37A0;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
      }
#section10 input
{
  border:1px solid #2C37A0 ;
  border-radius: 0px;
}
.btn-info
{
  border-radius: 0px;
  background-color: #2C37A0     ;
  border:none;
  font-family: georgia header;
  letter-spacing: 3px;
}
.btn-info:hover
{
  background-color:#CA656D ;
  transition: .4s ease-out;
}
.btn-success
{
  border-radius: 0px;
  background-color: black    ;
  border:none;
  color: white;
  font-family: Acme;
  letter-spacing: 3px;
}
.btn-success:hover
{
  background-color:black ;
  transition: .4s ease-out;
}
.btn-danger
{
  border-radius: 0px;
  background-color: #2c37a0;
  border:none;
  font-family: georgia header;
  letter-spacing: 3px;
}
.btn-danger:hover
{
  background-color: #ca656d;
    transition: .4s ease-out;
}

#section10 h4
{
   font-family: times new roman;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2px;
}
#section10 h5
{
   font-family: times new roman;
      text-align: left;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 2px;
}
#section10 h6
{
   font-family: times new roman;
      text-align: left;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 2px;
}
    #section10
  {
    height:100%;
    
  color: #fff; 
  margin-top: 0px;
  background-image: url(image/37.jpg);

  }
   .footer{background-color: #2C37A0;height:100%;}
      .footer h5
      {
        font-family: rockwell;
        color: white;
        letter-spacing: 3px;
        padding: 10px;
        
        text-align: center;
         
      }
      .footer h5 a
      {
        text-decoration: none;
      } 
.comment_well .well
{background-color:white;
  border-radius:0px;
  border:1px solid #2C37A0;
}
.comment_well .well label
{
  font-family:rockwell;
  letter-spacing:2px;
  color:#2C37A0;
}
.comment_well .well input
{border-radius:0px; 
  border:1px solid #2C37A0 ; 
  letter-spacing:2px;
  font-family:rockwell;}
.comment_well .well textarea
{border-radius:0px; 
  border:1px solid #2C37A0; 
  letter-spacing:2px;
  font-family:rockwell;}
.comment_well .well .btn-info
{border-radius:0px;
 border:1px solid #2C37A0; 
 letter-spacing:2px;
 font-family:rockwell;}
.user_pic .well 
{border:1px solid #2C37A0;
  border-radius:50%;
  padding:3px;}
.display_comment_well .well
{background-color:white;
  border-radius:0px;
  border:1px solid #2C37A0;
  margin-top:5px;padding:5px;}
#section_comment h2{text-align:center;font-family: Acme;color: #2C37A0;}
#section_comment p{text-align:center;color:white;}
#section_comment{background-image: url(image/41.jpg);background-repeat: no-repeat;background-size: cover;}
       #section_comment
  {
    padding-top:30px;
    height:100%;
    letter-spacing: 3px;
    background-color:;
    padding-bottom: 30px;
  
  }
  .alert_coment_error{text-align: center;color: red;}
.section_add{background-color: white;}
  

 #section_above{height: 90px;background-color: red;}
    #vision_mission_main{
      background-image: url(image/21.jpg);
      height:100%;background-size: cover;
      background-position: center;}
      #vision_mission_sub h2{
        text-align:left;
        font-family: Acme;color: #2C37A0;
        letter-spacing: 2px;}
    #vision_mission_main h2{
      text-align:left;font-family: Acme;
      color: white;padding: 50px;
      letter-spacing: 2px;font-size: 30px;}
      #vision_mission_sub h3{text-align:left;
        margin-top: 20px; 
        font-family: Acme;color: #2C37A0;
        letter-spacing: 3px;text-align: center;}
      #vision_mission_sub p{padding: 20px;
        text-align: justify;
        font-family: times new roman;
        font-size: 20px;
        line-height: 30px;}
    #vision_mission_sub{height: 100%;
      background-color: #F9F3F2 ;}
    #vision_mission_sub .well{background-color: white;
     border-radius: 0px;
     border:1px solid white;padding: 5px;}
    .profile_img{margin-top: 20px;} 



     #terms_sub h2{text-align:left;
        font-family: Acme;color: #2C37A0;
        letter-spacing: 2px;margin-left: 20px;}
        
     #terms_sub h3
     {
      text-align:left; margin-left: 20px;
      font-family: Acme;color: #2C37A0;letter-spacing: 2px;
     
     }
      #terms_sub p
      {
        padding: 20px;
        text-align: justify;
        line-height: 25px;
      }
     .icons ul
  {
     
    margin: 0;
    padding: 0;
    display:flex;
    font-family: Aladin;
  }
  .icons ul li
  {
    list-style: none;
    position: relative;
    width: 100px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    
    transition: .5s;
    font-size: 24px;
    cursor: pointer;
  }
  .icons ul li a:hover
  {
    color: white;
  }
.icons ul li span
{
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  width: 120px;
  height: 24px;
  line-height: 24px;
  background-color: #2C37A0;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  letter-spacing: 1px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;

}
 .icons ul li:hover span
{
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0px);
}
 .icons ul li span:before
{
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #2C37A0;
  z-index: -1;
}
#section2a
{
  height: 100%;
 
}


.carousel-indicators .active {
    background-color: #2c37a0;
    }

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
    background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}
.header-text {
    position: absolute;
    top: 77%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 20px;
}

.header-text h2 span {
    background-color:#2c37a0;
    letter-spacing: 2px;
    font-family: Aladin;    padding: 10px;
}

.header-text h3 span {
    background-color: #000;
    padding: 15px;
    font-family: Chicle;
    letter-spacing: 2px;
}